
  #navbar{
    height: 40px;
    width: 100%;
    border: 1px solid blue;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
  }
  #navbar>div{
    padding: 20px;
    font-size: 20px;
  }
  #cart>a{
    text-decoration: none;
    font-size: 20px;
  }


  #groceries{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
  }
  .item{
    border: 1px solid blue;
    text-align: center;
  }
  .add_to_cart{
    text-align: center;

  }
  .item>img{
    width: 100%;
    height: 60%;
  }