#navbar{
    height: 50px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;

    }
    #navbar>a{
        text-decoration: none;
        color: white;
        font-size: 22px;

    }


    #form{

        height: 330px;
        width: 25%;
        border: 1px solid black;
        margin: 50px auto;
        text-align: center;
  
      }
      #form>h1,input,button{
        margin-top: 20px;
      }
      input,button{
        height: 30px;
        width: 80%;
      }